<div>
    <div class="card-header">
        List of Projects to invoke in <strong>  {{pname}}  </strong> 
      </div>
<p></p>
</div>
<div *ngIf="CallsAddedFail">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Fail !</strong>  {{SelectedProcess}} Already exists in {{pname}}
      </div></div>
<div *ngIf="CallsAddedSucc" >
    <div class="alert_suc">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <strong>Success!</strong> Operation  <strong>{{SelectedProcess}} </strong> is added to <strong> {{pname}} </strong> successfully.
      </div>
    </div>

        <div class="table table-responsive">
            <input type="text" id="str" [(ngModel)]="str" name="str" placeholder="Search for names..">
           
          <table id="customers">
            
            <thead>
              <tr>
                <th>
                  Project Name
                </th>
                <th>
                  Type
                </th>
                <th>
                  Client
                </th>

                <th>
                    Creation Date
                  </th>
                  <th>
                      Status
                  </th>
                  <th>
                      Action
                  </th>
                  <th >
                      Choose Operation
                  </th>
                  <th>
                      Call Synchrone
                  </th>
                  <th>
                      Call Asynchrone
                  </th>
              </tr>
            </thead>
            <tbody>

                  <tr *ngFor="let Project of ProjectsArray | jmspipe:str || ''; let i=index"></tr>
                      <td>
                        {{Project.projectName}}

                      </td>
                      <td>
                          {{Project.templateType}}

                        </td>
                        <td>
                            {{Project.clientName}}

                         </td>
                        <td>
                            {{Project.projectCrDate}}

                        </td>
                        <td>
                            {{Project.projectStatus}}

                        </td>

                   <td>

                     <button  type="button" (click)="invoquer(Project.projectName,Project.clientName,Project.templateType)" >Show List Of Operation</button>
                     <!-- <button  type="button" (click)="OnModify(Project.projectName)" class="lil_btn">Modify</button>

                     <!-->
                     <!-- <button  type="button" (click)="Download(Project.projectName)" class="lil_btn">Download</button>
                     <button  type="button" (click)="addFieldValue()" class="lil_btn">Delete</button>
                     <button  type="button" (click)="onOld(Project.projectName)" class="lil_btn">Add</button>
                     <button  type="button" (click)="Checkout(Project.projectName, Project.clientName)" class="lil_btn">Checkout</button> -->

                    </td>

                    <td>

                      <select name="oname" ngModel #oname="ngModel">
                          <option value="" disabled selected>Select your Operation</option>
                        <option name="op" value="{{Operation}}" *ngFor="let Operation of dataOperation?.root.Operation.nom">  {{Operation}}</option>
                      </select>

                    </td>
                    <td>
                         <button  type="button" (click)="CreateInvocationSynchone(InvSynch,pname,pclient,ptype,Project.projectName,Project.clientName,Project.templateType,oname.value)" >Call Synchrone</button>
                    </td>
                    <td>
                         <button  type="button" (click)="CreateInvocationAsynchrone(InvAsynch,pname,pclient,ptype,Project.projectName,Project.clientName,Project.templateType,oname.value)" >Call Asynchrone</button>
                    </td>
                  </tr>

                <!-- <tr>
                <button  type="button" (click)="onNew()" class="lil_btn">Generate New Project</button>
                 <button class="lil_btn" type="button" (click)="OnUpload()">Upload New Project</button>
                 <button class="lil_btn" type="button" (click)="onNew()">Checkout New Project</button>
                </tr> -->

            </tbody>

          </table>

          <!-- <div *ngIf="ShowOperation"> -->
          <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" >

              <label for="oname">  Operation Name</label>
              <select name="oname" ngModel #oname="ngModel"  >
                  <option disabled selected>Select your Operation</option>
                <option [ngValue]="Operation" *ngFor="let Operation of dataOperation?.root.Operation.nom">  {{Operation}}</option>
              </select>


            <button>Submit</button>
          </form> -->
            <!-- <select>
            <option *ngFor="let Operation of dataOperation?.root.Operation.nom">{{Operation}}</option>
            </select> -->
        <!-- </div> -->
        </div>





<div >

</div>
